---
layout: splash
classes: wide
author_profile: false
header:
  image: "/assets/images/header.jpg"
# Content
faq:
  - question: Wo finde ich eine*n Pastor*in?
    answer: >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum.
  - question: Welche Gebühren und Kosten fallen an?
    answer: >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum.
  - question: Bin ich als queere Person bei euch richtig?
    answer: >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum.
---
<!--Include Custom CSS-->
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
{% include gallery.html %}
{% include circle.html %}
{% include flyins.html %}
{% include accordion.html %}