---
layout: splash
classes: wide
author_profile: false
header:
  image: "/assets/images/header.jpg"
# Content
faq:
  - question: Wo finde ich eine*n Pastor*in?
    answer: >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum.
  - question: Welche Gebühren und Kosten fallen an?
    answer: >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum.
  - question: Bin ich als queere Person bei euch richtig?
    answer: >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. 
      At vero eos et accusam et justo duo dolores et ea rebum.
circle_items:
- "--rotate-angle:0deg;"
- "--rotate-angle:45deg;"
- "--rotate-angle:90deg;"
- "--rotate-angle:135deg;"
- "--rotate-angle:180deg;"
- "--rotate-angle:225deg;"
- "--rotate-angle:270deg;"
- "--rotate-angle:315deg;"
circle_text: |
  Lorem ipsum dolor sit amet, 
  consetetur sadipscing elitr
logo_gallery:
  - filename: gemeinde.gif
    alt_text: 'Gemeinde'
  - filename: kiga.gif
    alt_text: 'Kindergarten'
  - filename: krankenpflege.png
    alt_text: 'Krankenpflege'
  - filename: foerderkreis.gif
    alt_text: 'Förderkreis'

---
<!--Include Custom CSS-->
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
{% include gallery.html %}
{% include circle.html %}
{% include logo_gallery.html %}
{% include flyins.html %}
{% include accordion.html %}