<!--Javascript-->
<script src="{{ "/assets/js/accordion.js" | relative_url }}"></script>
<!--HTML-->
<div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button">
          Headline 1
        </button>
      </h2>
      <div class="accordion-content">
        <p>Description text for headline 1.</p>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button">
          Headline 2
        </button>
        <div class="accordion-content">
            <p>Description text for headline 2.</p>
          </div>
      </h2>

    </div>
    <!-- Add more accordion items as needed -->
  </div>
  