<!--Javascript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ "/assets/js/gallery.js" | relative_url }}"></script>
<!--HTML-->
<div class="horizontal-scroll">
    <div class="img-container">
      <a href="www.google.com"><img src="{{ "/assets/images/christening.png" | relative_url }}" alt="Christening"></a>
    </div>
    <div class="img-container">
        <a href="www.google.com"><img src="{{ "/assets/images/wedding.png" | relative_url }}" alt="Wedding"></a>
    </div>
    <div class="img-container">
      <a href="www.google.com"></a><img src="{{ "/assets/images/funeral.png" | relative_url }}" alt="Funeral"></a>
    </div>
    <div class="img-container">
      <a href="www.google.com"><img src="{{ "/assets/images/christening.png" | relative_url }}" alt="Christening"></a>
    </div>
    <div class="img-container">
        <a href="www.google.com"><img src="{{ "/assets/images/wedding.png" | relative_url }}" alt="Wedding"></a>
    </div>
    <div class="img-container">
        <a href="www.google.com"></a><img src="{{ "/assets/images/funeral.png" | relative_url }}" alt="Funeral"></a>
      </div>
    <!-- Repeat for as many images as you have -->
  </div>
  