---
---
/* Section for Image Gallery */
div.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: rebeccapurple green; /* Change these colors as per your design */
  }
  
div.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
  }
  
  .horizontal-scroll::-webkit-scrollbar-track {
    background: green; /* Change this color as per your design */
  }
  
div.horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: rebeccapurple; /* Change this color as per your design */
  }
  
div.img-container {
    width: 700px; /* or the width you desire */
    margin-right: 10px;
    flex-shrink: 0;
  }
  

div.img-container img {
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  /* Section for Accordion FAQs */
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-header .accordion-button {
    background-color: {{ site.background_color }};
    cursor: pointer;
    text-align: left;
    width: 100%;
    border: none;
    outline: none;
    transition: background 0.2s;
  }
  
  .accordion-header .accordion-button:hover {
    background-color: #f0f0f0;
  }